:root {
    --color-background: white;
    --color-text: black;
    --color-link: blue;
    --color-link-hover: red;
    --color-code-background: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1c1c1c;
        --color-text: white;
        --color-link: lightblue;
        --color-link-hover: orange;
        --color-code-background: #2c2c2c;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

code,
pre {
    font-family: monospace;
}

pre {
    background-color: var(--color-code-background);
    padding: .8em;
    overflow-x: auto;
}